/* General */
*{
  font-family: 'Lato';
  font-size: 13px;
}

.right{
  float: right !important;
}

/* window */
.wz-view{
  border-radius: 7px;
}

.ui-view{
  width: 100%;
  height: 100%;
}

.ui-view .ui-window.legal{
  width: 100%;
  height: 100%;
}

/* Header */
.ui-header-brand{
  width: 60px;
}

/* navbar */
.ui-navbar{
  width: 310px;
  height: ~'calc(100% - 41px)';
  color: #545f65;
}

.search-filters{
  float: left;
  width: 310px;
  height: 40px;
}

.legal .ui-input-search{
  border: none;
  height: 40px;
  width: 225px;
  float: left;
}

.legal .ui-input-search:active{
  border: none;
}

.legal .ui-input-search input{
  width: ~'calc(100% - 58px)';
  margin-top: 12px;
}

.legal .ui-input-search.active input{
  width: ~'calc(100% - 78px)';
}

.filters-out{
  background-color: #fff;
  float: left;
  width: 84px;
  height: 40px;
}

.filters-in{
  border-left: 1px solid #ccd3d5;
  height: 26px;
  width: 100%;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

.filters-img{
  width: 20px;
  height: 16px;
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  float: left;
  background-position: 36px;
  margin-left: 8px;
  margin-top: 7px;
}


.filters-text{
  color: #889399;
  margin-top: 7px;
  float: left;
  margin-left: 8px;
}

.ui-view .exp-list{
  float: left;
  width: 310px;
  height: ~'calc(100% - 43px)';
}

.exp {
  height: 64px;
  width: 239px;
  float: right;
  border-bottom: 1px solid rgba(204, 211, 213, 0.5);
}

.dark .exp {
  border-color: #2c3238;
}

.exp .highlight-area{
  position: absolute;
  left: 0px;
  margin-top: -1px;
  height: 65px;
  width: 310px;
}

.exp:hover .highlight-area{
  background-color: #d9eadb;
}

.dark .exp:hover .highlight-area{
  background-color: #d9eadb;
}

.exp.active .highlight-area{
  background-color: #60b25e;
}

.exp .avatar {
  width: 43px;
  height: 43px;
  float: left;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 9px;
  border: 2px dashed #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.exp .avatar-letters{
  font-size: 21px;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 0px;
  width: 43px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.exp .avatar-status{
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: -109px 0;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 6px;
  background-color: transparent;
}

.closed .avatar-status{
  background-position: 112px 0;
}

.active .closed .avatar-status{
  background-position: 84px 0;
}


.active .avatar-status{
  background-position: 98px 0;
}

.exp i{
  background-size: cover;
}

.exp span {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  width: 229px;
}

.exp .name-exp {
  font-size: 15px;
  margin-top: 9px;
  padding-bottom: 7px;
  color: #545f65;
  font-weight: bold;
  float: left;
  padding-left: 0;
  margin-right: 40px;
  width: ~'calc(100% - 129px)';
}

.dark .exp .name-exp {
  color: #bdc4c6;
}

.exp .id-exp {
  font-size: 13px;
  color: #889399;
  padding-top: 0px;
  float: left;
  padding-left: 0;
  margin-left: 10px;
  margin-right: 100px;
  width: ~'calc(100% - 169px)';
}

.dark .exp .id-exp {
  color: #bdc4c6;
}

.exp.active .name-exp, .exp.active .id-exp{
  color: #fff;
}

.conf-tab{
  width: 310px;
  height: 40px;
  float: left;
  border-top: 1px solid #ccd3d5;
  background-color: #f7f8fa;
}

.conf-img{
  float: left;
  width: 16px;
  height: 16px;
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  margin-left: 14px;
  margin-top: 12px;
  background-position: 16px 0;
}

.new-exp-button.ui-btn {
  float: right;
  right: 7px;
  margin-top: 3px;
  margin-right: 3px;
  width: 140px;
  height: 32px;
}

.new-exp-button.ui-btn i{
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  background-position: 203px 0;
}

.new-exp-button.ui-btn span{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  margin-left: 7px;
  color: #545f65;
  max-width: 105px;
}

/* window */
.ui-view .legal .ui-window-content{
  width: ~'calc(100% - 311px)';
  height: ~'calc(100% - 41px)';
  position: relative;
}

.ui-view .legal .ui-window-content.edit{
  height: ~'calc(100% - 89px)';
}

/* Contact info */
.look-mode{
  display: block;
  float: left;
}

.edit-mode{
  display: none;
  float: left;
}

.exp-info {
  float: left;
  height: 65px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccd3d5;
}

.exp-info .look-mode{
  width: 100%;
}

.dark .exp-info {
  background-color: #363d46;
  border-color: #2c3238;
}

.exp-info .name {
  margin-left: 18px;
  margin-top: 11px;
  float: left;
  width: ~'calc(100% - 167px)';
  font-size: 19px;
  color: #545f65;
  font-weight: bold;
}

.exp-info .exp-ids{
  float: left;
  margin-left: 18px;
  margin-top: 10px;
  width: ~'calc(100% - 167px)';
}

.exp-info .exp-ids span{
  font-size: 13px;
  color: #545f65;
}

.exp-info .exp-ids .intern, .exp-info .exp-ids .extern{
  font-size: 13px;
  color: #868c8e;
}

.exp-info .exp-ids .intern-id{
  margin-right: 20px;
}

.legal .ui-input{
  float: left;
  color: #545f65;
}

.legal .ui-input:focus{
  float: left;
  border-color: #60b25e;
}

.legal input:-ms-input-placeholder {
   color:#889399;
}

.legal input::-webkit-input-placeholder {
   color:#889399;
}

.legal input:-moz-placeholder {
   color:#889399;
}

.legal input::-moz-placeholder {
   color:#889399;
}

.legal textarea:-ms-input-placeholder {
   color:#889399;
}

.legal textarea::-webkit-input-placeholder {
   color:#889399;
}

.legal textarea:-moz-placeholder {
   color:#889399;
}

.legal textarea::-moz-placeholder {
   color:#889399;
}

.edit-exp-button.ui-btn {
  float: right;
  right: 7px;
  margin-top: -14px;
  margin-right: 7px;
  width: 140px;
  height: 32px;
}

.edit-exp-button.ui-btn i{
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.edit-exp-button.ui-btn:hover i{
  background-position: -16px 0;
}

.edit-exp-button.ui-btn span{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  margin-left: 7px;
  color: #545f65;
  max-width: 105px;
}

.edit-mode .intern{
  float: left;
  color: #889399;
  font-size: 13px;
  margin-left: 7px;
  margin-top: 14px;
  width: 61px;
  margin-right: 2px;
}

.edit-mode .extern{
  float: left;
  color: #889399;
  font-size: 13px;
  margin-top: 14px;
  width: 119px;
  margin-right: 2px;
}

.edit-mode .title{
  float: left;
  color: #889399;
  font-size: 13px;
  margin-top: 14px;
  width: ~'calc(100% - 191px)';
}


.intern-id-input{
  float: left;
  margin-left: 7px;
  width: 44px;
  height: 22px;
  margin-top: 5px;
  color: #545f65;
  padding-top: 10px;
  padding-left: 13px;
}

.extern-id-input{
  float: left;
  margin-left: 2px;
  width: 101px;
  height: 30px;
  margin-top: 5px;
}

.name-input{
  float: left;
  margin-left: 2px;
  width: ~'calc(100% - 215px)';
  height: 30px;
  margin-top: 5px;
}

.edit-mode-popup{
  position: absolute;
  right: 0;
  width: ~'calc(100% - 311px)';
  height: 48px;
  bottom: 0;
  -webkit-border-radius: 0 0 6px;
  -moz-border-radius: 0 0 6px;
  border-radius: 0 0 6px;
  background-color: #f7f8fa;
  -webkit-box-shadow: 0 -1px #ccd3d5;
  -moz-box-shadow: 0 -1px #ccd3d5;
  box-shadow: 0 -1px #ccd3d5;
  animation: edit-popup-out 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  z-index: 2;
}

.edit-mode-popup.active {
    animation: edit-popup-in 0.2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.dark .edit-mode-popup{
  background-color: #363d46;
  border-color: #2c3238;
  box-shadow: none;
}

@keyframes edit-popup-in{
    0%{  height: 0;}
    100%{ height: 48; }
}

@keyframes edit-popup-out{
    0%{  height: 48;}
    100%{ height: 0;}
}

.edit-mode.delete-exp-button.ui-btn.cancel {
    margin-top: 7px;
    margin-left: 7px;
}

.right.edit-mode.save-exp-button.ui-btn.accept {
    margin-right: 7px;
    margin-top: 7px;
}

.right.edit-mode.cancel-exp-button.ui-btn.gray {
    margin-top: 7px;
    margin-right: 5px;
}

.legal .ui-tab.close{
  float: left;
  background-color: #f7f8fa;
  width: 100%;
}

.legal .ui-tab.close .ui-tab-element.active{
  border-top: 1px solid transparent;
  border-bottom: 2px solid #fff;
  background-color: #fff;
}

.legal .ui-tab .ui-tab-element.active:first-child{
  border-left: 1px solid transparent;
}

.ui-tab .ui-tab-element:hover {
  border-top: 1px solid transparent;
}

.info-tab-section{
  width: 100%;
  height: ~'calc(100% - 98px)';
  float: left;
}

.exp-status, .exp-desc, .exp-client, .exp-asigns, .exp-people{
  float: left;
  width: ~'calc(100% - 40px)';
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid  #e5e9ea;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  position: relative;
}

.info-tab-section .title{
  font-size: 13px;
  color: #889399;
  float: left;
  width: 100%;
}

.exp-status .status-img{
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: -109px 0;
  margin-top: 14px;
  margin-right: 7px;
}

.exp-status .closed .status-img{
  background-position: -123px 0;
}

.exp-status .status{
  float: left;
  font-size: 19px;
  font-weight: bold;
  margin-top: 12px;
  color: #545f65;
}

.exp-status .ui-select{
  margin-top: 14px;
}

.exp-status .ui-select-input > i{
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: -109px 0;
  margin: 7px;
}

.exp-status .ui-select-input > .closed{
  background-position: -123px 0;
}

.legal .ui-select-input article{
  padding-left: 0px;
  width: 115px;
}

.exp-status .ui-select .open i{
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: -109px 0;
  margin-right: 7px;
  margin-left: -3px;
  margin-top: -2px;
}

.exp-status .ui-select .open:hover i{
  background-position: -137px 0;
}

.exp-status .ui-select .closed i{
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: -123px 0;
  margin-right: 7px;
  margin-left: -3px;
  margin-top: -2px;}

.exp-desc .desc{
  font-size: 13px;
  color: #545f65;
  float: left;
  margin-top: 14px;
  line-height: 20px;
}

.exp-desc .edit-mode {
    border: solid 1px #ccd3d5;
    border-radius: 4px;
    height: 60px;
    width: 472px;
    margin-top: 14px;
    padding: 14px;
    color: #545f65;
    line-height: 20px;
}

.exp-desc .edit-mode:focus {
  border-color: #60b25e;
}

.contact{
  float: left;
  position: relative;
}


.contact .remove{
  width: 14px;
  height: 14px;
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  position: absolute;
  bottom: 22px;
  margin-left: -21px;
  background-position: 159px 0;
}

.contact .remove:hover{
  background-position: 145px 0;
}

 .add{
  width: 14px;
  height: 14px;
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  position: absolute;
  left: 87px;
  background-position: 187px 0;
}

.exp-people .add{
  left: 138px;
}

.add:hover{
  background-position: 173px 0;
}

.info-tab-section .avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  float: left;
  margin-top: 14px;
  margin-right: 10px;
  background-size: cover;
  border: 2px dashed black;
}

.info-tab-section .avatar-letters {
  float: left;
  font-size: 26px;
  text-align: center;
  margin-left: 0px;
  width: 54px;
  padding-bottom: 14px;
  padding-top: 14px;
}

.info-tab-section .client-title{
  width: ~'calc(100% - 78px)';
  margin-top: 14px;
  float: left;
  font-size: 19px;
  color: #545f65;
}

.info-tab-section .client-subtitle{
  width: ~'calc(100% - 78px)';
  float: left;
  font-size: 13px;
  color: #545f65;
  margin-top: 5px;
}

.info-tab-section .client-moreinfo{
  float: left;
  font-size: 13px;
  color: #545f65;
  margin-top: 5px;
  margin-right: 10px;
}

.info-tab-section .more{
  float: left;
  font-size: 13px;
  color: #60b25e;
  margin-top: 5px;
}

.no-entry .avatar{
  border: none;
  background-image: url('@static/bolas-vacio.png');
  background-size: 57px 57px;
  width: 57px;
  height: 57px;
}

.no-entry .first{
  width: 130px;
  height: 14px;
  background-color: #f7f8fa;
  float: left;
  margin-top: 16px;
  margin-right: ~'calc(100% - 197px)';
}

.no-entry .second{
  width: 78px;
  height: 10px;
  background-color: #f7f8fa;
  float: left;
  margin-top: 10px;
  margin-right: ~'calc(100% - 145px)';
}

.no-entry .third{
  width: 206px;
  height: 10px;
  background-color: #f7f8fa;
  float: left;
  margin-top: 10px;
  margin-right: ~'calc(100% - 273px)';
}

/* Timeline */

.timeline-tab-section{
  display: none;
  height: ~'calc(100% - 97px)';
  width: 100%;
  float: left;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0px, rgba(247,248,250,1) 240px, rgba(247,248,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0px, rgba(255,255,255,1)), color-stop(240px, rgba(247,248,250,1)), color-stop(100%, rgba(247,248,250,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0px, rgba(247,248,250,1) 240px, rgba(247,248,250,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0px, rgba(247,248,250,1) 240px, rgba(247,248,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0px, rgba(247,248,250,1) 240px, rgba(247,248,250,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0px, rgba(247,248,250,1) 240px, rgba(247,248,250,1) 100%);
}

.top-timeline{
  margin-left: 19px;
  margin-right: 19px;
  width: ~'calc(100% -38px)';
  height: 66px;
  border-bottom: 1px solid #e5e8e9;
}

.timeline-title{
  font-size: 19px;
  color: #545f65;
  margin-left: 5px;
  margin-top: 23px;
  float: left;
}

.top-timeline .select{
  float: right;
  width: 124px;
  margin-top: 16px;
  margin-right: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Lato;
  font-size: 13px;
  color: #6f7578;
  background-color: #ccd3d5;
  border: solid 1px #ccd3d5;
  background-image: -webkit-linear-gradient(bottom, #fafafa, #ffffff);
  background-image: -moz-linear-gradient(bottom, #fafafa, #ffffff);
  background-image: -o-linear-gradient(bottom, #fafafa, #ffffff);
  background-image: -ms-linear-gradient(bottom, #fafafa, #ffffff);
  background-image: linear-gradient(to top, #fafafa, #ffffff);
}

.top-timeline .select:hover{
  background-color: #fff;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px rgba(0, 0, 0, 0.05);
  background-image: none;
}

.top-timeline .select:active{
  background-image: -webkit-linear-gradient(top, #dfe3e6, #ecf0f3);
  background-image: -moz-linear-gradient(top, #dfe3e6, #ecf0f3);
  background-image: -o-linear-gradient(top, #dfe3e6, #ecf0f3);
  background-image: -ms-linear-gradient(top, #dfe3e6, #ecf0f3);
  background-image: linear-gradient(to bottom, #dfe3e6, #ecf0f3);
}

.top-timeline .select-input{
  float: left;
}

.top-timeline .select-input article{
  width: 79px;
  float: left;
  padding: 9px 0px 0px 0px;
  color: #545f65;
}

.top-timeline .select-input figure{
  border: none;
  float: right;
  width: 13px;
  height: 30px;
  display: inline-block;
  margin: 0px;
}

.top-timeline .select-input figure i {
  width: 5px;
  height: 3px;
  margin: 14px 7px 13px 1px;
  background-position: -46px 0px;
  display: inline-block;
  background-size: 99px 16px;
  background-image: url('@static/sprite-white.png');
}

.new-event{
  width: 18px;
  height: 16px;
  background: url('@static/new-event.png');
  background-size: 18px 16px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 8px;
  float: left;
}

.event-select-dropdown{
  display: none;
  background-color: white;
  border-radius: 6px;
  border: solid 1px #ccd3d5;
  position: absolute;
  right: 27px;
  width: 124px;
  top: 50px;
  color: #6f7578;
  z-index: 2;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.event-select-dropdown article{
  padding: 9px 0 0 9px;
  height: 21px;
}

.event-select-dropdown article:hover {
  background-color: #60b25e;
  color: white;
}

.event-select-dropdown article i{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.event-doc .avatar-status{
  border: 3px solid #60b25e;
}

.event-met .avatar-status{
  border: 3px solid #4698e0;
}

.event-wor .avatar-status{
  border: 3px solid #e85c5c;
}

.event-oth .avatar-status{
  border: 3px solid #889399;
}

.timeline{
  float: left;
  width: 100%;
  min-height: ~'calc(100% - 67px)';
  position: relative;
  padding-bottom: 20px;
}

.timeline-phantom{
  display: none;
  width: 100%;
  min-height: ~'calc(100% - 87px)';
  position: relative;
  padding-bottom: 20px;
}

.timeline-phantom figure{
  width: 261px;
  height: 180px;
  float: left;
  background-image: url('@static/eventoFantasma.png');
  margin-left: ~'calc(50% - 261px/2)';
  margin-top: 70px;
}


.timeline-phantom span{
  float: left;
  font-size: 23px;
  line-height: 40px;
  color: #889399;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 38px;
  text-align: center;
  width: ~'calc(100% - 210px)';
}

.timeline .line{
  height: ~'calc(100% - 26px)';
  width: 5px;
  background-color: #e3e7e8;
  margin-left: 30px;
  margin-top: 26px;
  position: absolute;
}

.event{
  width: 100%;
  float: left;
  position: relative;
  padding-top: 18px;
}

.event-top{
  float: left;
  padding-left: 25px;
  z-index: 1;
  width: ~'calc(100% - 25px)';
  margin-bottom: 10px;
}

.avatar-status{
  width: 11px;
  height: 11px;
  margin-left: -1px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  background-color: #fff;
}

.event-title{
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #545f65;
}

.event-time{
  float: left;
  color: #889399;
  font-size: 13px;
  margin-top: 2px;
  margin-left: 15px;
}

.event-top .event-doc i{
  border: 3px solid #60b25e;
}

.event-top .event-met i{
  border: 3px solid #4698e0;
}

.event-top .event-wor i{
  border: 3px solid #e85c5c;
}

.event-top .event-oth i{
  border: 3px solid #889399;
}

.event-desc{
  float: left;
  top: 40px;
  width: ~'calc(100% - 92px)';
  margin-top: 4px;
  margin-left: 62px;
  margin-right: 26px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border: solid 2px transparent;
}

.edit .event-desc{
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.4);
	box-shadow: 0 2px 8px rgba(0,0,0,.4);
	border: solid 2px #60b25e;
  border-radius: 6px;
}

.delete-event{
  float: right;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 73px;
}

.delete-event i{
  width: 10px;
  height: 10px;
  background: url('@static/cancel.png');
  background-size: 10px 10px;
  float: left;
  margin-top: 1px;
}

.event-desc-title .delete-event span{
  font-size: 13px;
  font-weight: bold;
  color: #e85c5c;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 10px;
  text-align: right;
  width: 40px;
}

.event-desc-title{
  float: left;
  height: 41px;
  border-bottom: 1px solid rgba(204, 211, 213, 0.5);
  margin-left: 10px;
  margin-right: 10px;
  width: ~'calc(100% - 20px)';
}

.event-desc-title span{
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #545f65;
  padding-left: 10px;
  padding-right: 10px;
  width: ~'calc(100% - 20px)';
  padding-top: 15px;
}

.event-desc-info{
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: ~'calc(100% - 40px)';
  line-height: 25px;
  color: #545f65;
  font-size: 13px;
}

.event-bottom{
  float: left;
  height: 40px;
  background-color: #fbfbfc;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0 0 6px 6px;
}

.event-min{
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  padding-left: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 7px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.edit .event-min{
  border-color: #ccd3d5;
  background-color: #fff;
}

.event-min .icon{
  float: left;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url('@static/watch.png');
  background-size: 18px 18px;
}

.event-min span{
  float: left;
  font-size: 13px;
  color: #889399;
  margin-top: 3px;
  margin-left: 6px;
  width: 57px;
  font-weight: bold;
}

.event-price{
  float: left;
  margin-top: 4px;
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.edit .event-price{
  border-color: #ccd3d5;
  background-color: #fff;
}

.event-price .icon{
  float: left;
  width: 18px;
  height: 18px;
  border: none;
}

.income .icon{
  background-image: url('@static/income.png');
  background-size: 18px 18px;
}

.expenses .icon{
  background-image: url('@static/expenses.png');
  background-size: 18px 18px;
}

.event-price span{
  float: left;
  font-size: 13px;
  margin-top: 3px;
  margin-left: 6px;
  width: 55px;
  font-weight: bold;
}

.income span, .income input{
  color: #60b25e;
}

.expenses span, .expenses input{
  color: #e85c5c;
}

.event-top .event-time-input{
  float: left;
  width: 89px;
  margin-left: 13px;
  margin-top: -6px;
  height: 24px;
}

.event-time-input > input{
  color: #545f65;
}

.event-top .event-time-select{
  float: left;
  width: 58px;
  margin-left: 13px;
  margin-top: -6px;
}

.event-top .event-time-select .ui-select-input{
  height: 24px;
}

.event-top .event-time-select .ui-select-input .ellipsis{
  width: 35px;
  padding: 7px 0px 5px 7px;
}

.event-top .event-time-select .ui-select-dropdown{
  height: 100px;
}

.event-top .event-time-select figure{
  height: 25px;
}

.event-top .event-time-select figure i{
  margin: 7px 4px 7px 4px;
}

.event-desc-title input{
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #545f65;
  padding-left: 10px;
  padding-right: 10px;
  width: ~'calc(100% - 95px)';
  padding-top: 15px;
}

.event-desc-info-input{
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: ~'calc(100% - 40px)';
  line-height: 25px;
  color: #545f65;
  font-size: 13px;
  height: 65px;
}

.event-min input{
  float: left;
  font-size: 13px;
  color: #545f65;
  margin-top: 2px;
  margin-left: 6px;
  background-color: transparent;
  width: 57px;
}

.event-price input{
  float: left;
  font-size: 13px;
  margin-top: 2px;
  margin-left: 6px;
  background-color: transparent;
  width: 55px;
}

/* document tab */
.doc-tab-section{
  width: 100%;
  height: ~'calc(100% - 97px)';
  float: left;
}

.async{
  float: left;
  width: 100%;
  height: 100%;
}

.no-folder{
  float: left;
  font-size: 23px;
  line-height: 40px;
  color: #889399;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 92px;
  text-align: center;
  width: ~'calc(100% - 210px)';
}

.new-link-folder{
  width: 200px;
  margin-left: ~'calc(50% - 196px/2)';
  margin-top: 48px;
}

.link-folder{
  width: 272px;
  margin-left: ~'calc(50% - 272px/2)';
  margin-top: 28px;
}

.sync{
  display: none;
}

.sync figure{
  float: left;
  width: 132px;
  height: 97px;
  float: left;
  background-image: url('https://static.inevio.com/app/223/folder-checked.png');
  margin-left: ~'calc(50% - 132px/2)';
  margin-top: 70px;
}

.open-folder{
  width: 270px;
  margin-left: ~'calc(50% - 272px/2)';
  margin-top: 20px;
}

.open-folder-text{
  float: left;
  font-size: 23px;
  line-height: 40px;
  color: #889399;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 76px;
  text-align: center;
  width: ~'calc(100% - 210px)';
}

.open-folder-text i{
  color: #545f65;
  font-size: 23px;
  line-height: 40px;
}

/* Budget tab */
.budget-tab-section{
  width: 100%;
  height: ~'calc(100% - 97px)';
  float: left;
}

.budget{
  float: left;
  width: 228px;
  height: 176px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
  margin-left: 29px;
  margin-top: 24px;
  position: relative;
}

.edit .budget{
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.4);
	box-shadow: 0 2px 8px rgba(0,0,0,.4);
	border: solid 2px #60b25e;
}

.budget-text{
  float: left;
  font-size: 19px;
  font-weight: bold;
  color: #545f65;
  margin-left: 26px;
  margin-top: 26px;
  margin-right: 26px;
  width: ~'calc(100% - 52px)';
}

.budget-money{
  float: left;
  font-size: 51px;
  font-weight: bold;
  color: #545f65;
  margin-left: 26px;
  margin-top: 11px;
  margin-right: 26px;
  width: ~'calc(100% - 52px)';
}

.budget-money-input{
  float: left;
  font-size: 51px;
  font-weight: bold;
  color: #545f65;
  margin-left: 10px;
  margin-top: 11px;
  margin-right: 8px;
  width: 178px;
  height: 69px;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: solid 1px #ccd3d5;
  padding-left: 15px;
  padding-right: 15px;
}


.budget-status{
  width: 228px;
	height: 40px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #fbfbfc;
  float: left;
  bottom: 0;
  position: absolute;
}

.budget-status-input{
  width: 228px;
	height: 40px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #fbfbfc;
  float: left;
  bottom: 0;
  position: absolute;
}

.budget-status i{
  float: left;
  width: 14px;
  height: 14px;
  margin-left: 26px;
  margin-top: 13px;
}

.budget-status.pendent i{
  background-image: url('@static/relojNaranja.png');
  background-size: 14px 14px;
}

.budget-status.payed i{
  background-image: url('@static/relojVerde.png');
  background-size: 14px 14px;
}

.budget-status span{
  float: left;
  font-size: 15px;
  margin-top: 13px;
  margin-left: 7px;
}

.budget-status.pendent span{
  color: #ff9500;
}

.budget-status.payed span{
  color: #60b25e;
}

.budget-pay{
  float: left;
  width: 236px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
  margin-left: 28px;
  margin-top: 24px;
  padding-bottom: 15px;
  max-height: 161px;
}

.edit .budget-pay{
  height: 176px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,.4);
  box-shadow: 0 2px 8px rgba(0,0,0,.4);
  border: solid 2px #60b25e;
}

.pay-way-text{
  float: left;
  font-size: 19px;
  font-weight: bold;
  color: #545f65;
  margin-left: 20px;
  margin-top: 19px;
}

.pay-way{
  float: left;
  font-size: 15px;
  color: #545f65;
  margin-left: 20px;
  margin-top: 14px;
  width: ~'calc(100% - 34px)';
  max-height: 109px;
  padding-right: 14px;
}

.pay-way-input{
  float: left;
  font-size: 15px;
  color: #545f65;
  margin-left: 10px;
  margin-top: 14px;
  width: 190px;
  height: 88px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccd3d5;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.no-payments{
  float: left;
  display: none;
  width: 100%;
}

.no-payments span{
  float: left;
  font-size: 19px;
  line-height: 40px;
  color: #889399;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 38px;
  text-align: center;
  width: ~'calc(100% - 210px)';
}

.payments{
  float: left;
  margin-left: 19px;
  margin-right: 19px;
  width: ~'calc(100% - 38px)';
  height: ~'calc(100% - 201px)';
}

.top-payments{
  float: left;
  width: 100%;
  height: 25px;
  margin-top: 24px;
  border-bottom: 2px solid #e1e5e7;
}

.payments-text{
  float: left;
  font-size: 13px;
  color: #889399;
  margin-left: 6px;
}

.add-payment{
  float: left;
  width: 14px;
  height: 16px;
  background-image: url('@static/sprite.png');
  background-size: 235px 16px;
  background-position: 187px 0;
  margin-left: 7px;
}

.add-payment:hover{
  background-position: 173px 0;
}

.payments-value{
  float: right;
  font-size: 13px;
  color: #889399;
  margin-right: 7px;
}

.payment-list{
  float: left;
  width: 100%;
  height: ~'calc(100% - 51px)';
}

.payment{
  float: left;
  height: 49px;
  border-bottom: 1px solid #e1e5e7;
  width: ~'calc(100% - 12px)';
  padding-left: 6px;
  padding-right: 6px;
}

.payment-info{
  float: left;
  width: 100px;
}

.payment-info .title{
  font-size: 13px;
  float: left;
  color: #545f65;
  margin-top: 9px;
  width: 300px;
}

.payment-info .date{
  font-size: 13px;
  float: left;
  color: #889399;
  margin-top: 7px;
  width: 125px;
}

.payment-value{
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #60b25e;
  margin-top: 18px;
}

.budget-status-input .ui-checkbox {
  float: left;
  margin-left: 25px;
  margin-top: 13px;
}

.budget-status-input span {
  float: left;
  font-size: 15px;
  color: #545f65;
  margin-top: 12px;
  margin-left: 8px;
}

.payment .remove{
  width: 14px;
  height: 14px;
  float: right;
  background: url("@static/sprite.png") ;
  background-size: 235px 16px;
  background-position: 159px 0;
  margin-top: 18px;
  margin-left: 7px;
}

.payment .remove:hover{
  background-position: 145px 0;
}

.budget-yes{
  float: left;
  width: 100%;
  height: 100%;
}

.budget-no{
  display: none;
  float: left;
  width: 100%;
  height: 100%;
}

.no-budget-img{
  float: left;
  background-image: url('@static/empty-budget.png');
  background-size: 188px 222px;
  width: 188px;
  height: 222px;
  margin-left: ~'calc(50% - 188px/2)';
  margin-top: 40px;
  margin-bottom: 40px;
}

.no-budget-text{
  float: left;
  font-size: 19px;
  color: #889399;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.new-budget-button{
  float: left;
  width: 225px;
  margin-left: ~'calc(50% - 225px/2)';
}

.payment-info input{
  float: left;
  margin-top: 9px;
}

.payment-value-input{
  float: right;
  width: 76px;
  height: 18px;
  border: 1px solid #ccd3d5;
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
}

.payment-value-input i{
  background-image: url('@static/income.png');
  background-size: 18px 18px;
  float: left;
  width: 18px;
  height: 18px;
  border: none;
}

.payment-value-input input{
  width: 45px;
  margin-top: 1px;
  margin-left: 5px;
  color: #60b25e;
}

.select-contact-back{
  display: none;
  position: absolute;
  width: 100%;
  height: ~'calc(100% - 41px)';
  border-radius: 0 0 6px 6px;
  top: 41px;
  background-color: #000;
  z-index: 3;
  left: 0;
  opacity: 0.3;
}

.select-contact-popup{
  display: none;
  width: 317px;
	height: 407px;
  margin-left: ~'calc(50% - 317px/2)';
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #f7f8fa;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  position: absolute;
  z-index: 3;
  opacity: 1;
  top: 41px;
  margin-top: 77px;
}

.select-contact-text {
  float: left;
  font-size: 17px;
  font-weight: bold;
  color: #545f65;
  margin-left: 20px;
  margin-top: 18px;
  width: ~'calc(100% - 56px)';
  margin-bottom: 15px;
}

.close-popup {
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 11px;
  margin-right: 12px;
  padding: 7px;
}

.close-popup i {
  float: left;
  width: 10px;
  height: 10px;
  background: url('@static/sprite-icons-white.png');
  background-position: 10px 0;
  background-size: 40px 10px;
}



.client-selectable {
  float: right;
  height: 64px;
  width: 239px;
  border-bottom: 1px solid rgba(204, 211, 213, 0.5);
}

.client-selectable:hover .highlight-area{
  background-color: #d9eadb;
}

.client-selectable .highlight-area {
  position: absolute;
  left: 0;
  margin-top: -1px;
  height: 65px;
  width: 317px;
}

.client-selectable .avatar {
  width: 43px;
  height: 43px;
  float: left;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 9px;
  border: 2px dashed #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.client-selectable .avatar-letters{
  font-size: 21px;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 0px;
  width: 43px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.client-selectable  i{
  background-size: cover;
}

.client-selectable  span {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  width: 229px;
}

.client-selectable  .name-client-selectable {
  font-size: 15px;
  margin-top: 9px;
  padding-bottom: 7px;
  color: #545f65;
  font-weight: bold;
  float: left;
  padding-left: 0;
  width: 215px;
  margin-left: 10px;
}

.client-selectable .info-client-selectable {
  font-size: 13px;
  color: #889399;
  padding-top: 0px;
  float: left;
  padding-left: 0;
  width: 239px;
  margin-left: 10px;
}

.company-mode{
  background-image: url('@static/maletin.png');
  background-size: 17px 16px;
  width: 17px;
  height: 16px;
  float: left;
  position: absolute;
  bottom: 9px;
  left: 42px;
  display: none;
}

.client-selectable-list{
  float: left;
  width: 100%;
  height: ~'calc(100% - 100px)';
}

.open-contacts {
  width: 270px;
  margin-left: 24px;
  margin-top: 8px;
}


.open-contacts-section{
  float: left;
  width: 100%;
  height: 49px;
  border-top: 1px solid #ccd3d5;
}

.welcome-page {
    float: left;
    position: absolute;
    z-index: 2;
    background-color: #f7f8fa;
    width: 100%;
    height: ~'calc(100% - 41px)';
    top: 42px;
    display: none;
    opacity: 0;
    animation: welcome-page-in 0.5s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes welcome-page-in{
    0%{  opacity: 0;}
    100%{ opacity: 1; }
}

.welcome-page .welcome-first{
    float: left;
    color: #545f65;
    font-size: 61px;
    margin-top: 180px;
    font-weight: lighter;
    margin-top: 180px;
    text-align: center;
    width: 100%;
}

.welcome-page i{
  float: left;
  height: 1px;
  width: 500px;
  background-color: #e1e5e7;
  margin-left: ~'calc(50% - 500px/2)';
  margin-bottom: 25px;
  margin-top: 30px;
}

.welcome-page .welcome-second{
  float: left;
  color: #889399;
  font-size: 19px;
  text-align: center;
  width: 100%;
}

.welcome-page .ui-btn.big{
  margin-left: ~'calc(50% - 265px/2)';
  width: 265px;
  margin-top: 90px;
}


.welcome-page .ui-btn.big span{
  max-width: 220px;
}
