/* General */
*{
  font-family: 'Lato';
  font-size: 13px;
}

.right{
  float: right !important;
}

/* window */
.wz-view{
  border-radius: 7px;
}

.ui-view{
  width: 100%;
  height: 100%;
}

.ui-view .ui-window.legal{
  width: 100%;
  height: 100%;
}


/* Header */
.ui-header-brand{
  width: 60px;
}

/* navbar */
.ui-view .ui-navbar.exp-list{
  width: 310px;
  height: ~'calc(100% - 41px)';
  color: #545f65;
}

.exp {
  height: 64px;
  width: 239px;
  float: right;
  border-bottom: 1px solid rgba(204, 211, 213, 0.5);
}

.dark .exp {
  border-color: #2c3238;
}

.exp .highlight-area{
  position: absolute;
  left: 0px;
  margin-top: -1px;
  height: 65px;
  width: 310px;
}

.exp:hover .highlight-area{
  background-color: #d9eadb;
}

.dark .exp:hover .highlight-area{
  background-color: #d9eadb;
}

.exp.active .highlight-area{
  background-color: #60b25e;
}

.exp .avatar {
  width: 43px;
  height: 43px;
  float: left;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 9px;
  border: 2px dashed #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.exp .avatar-letters{
  font-size: 21px;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 0px;
  width: 43px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.exp i{
  background-size: cover;
}

.exp span {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  width: 229px;
}

.exp .name-exp {
  font-size: 15px;
  margin-top: 9px;
  padding-bottom: 7px;
  color: #545f65;
  font-weight: bold;
  float: right;
  padding-left: 0;
  width: 239px;
}

.dark .exp .name-exp {
  color: #bdc4c6;
}

.exp .id-exp {
  font-size: 13px;
  color: #889399;
  padding-top: 0px;
  float: right;
  padding-left: 0;
  width: 239px;
}

.dark .exp .id-exp {
  color: #bdc4c6;
}

.exp.active .name-exp, .exp.active .id-exp{
  color: #fff;
}

/* window */
.ui-view .legal .ui-window-content{
  width: ~'calc(100% - 311px)';
  height: ~'calc(100% - 41px)';
  position: relative;
}

/* Contact info */
.exp-info {
  float: left;
  height: 65px;
  width: 100%;
  background-color: #f7f8fa;
  border-bottom: 1px solid #ccd3d5;
}

.dark .exp-info {
  background-color: #363d46;
  border-color: #2c3238;
}

.exp-info .name {
  margin-left: 11px;
  margin-top: 13px;
  float: left;
  width: ~'calc(100% - 160px)';
  font-size: 19px;
  color: #545f65;
  font-weight: bold;
}

.exp-info .exp-ids{
  float: left;
  margin-left: 11px;
  margin-top: 10px;
  width: ~'calc(100% - 160px)';
}

.exp-info .exp-ids span{
  font-size: 13px;
  color: #545f65;
}

.exp-info .exp-ids .intern, .exp-info .exp-ids .extern{
  font-size: 13px;
  color: #868c8e;
}

.exp-info .exp-ids .intern-id{
  margin-right: 20px;
}

.legal .ui-input{
  float: left;
  display: none;
  color: #545f65;
}

.legal .ui-input:focus{
  float: left;
  display: none;
  border-color: #4698e0;
}

.exp-info .name-input{
  height: 20px;
  width: 114px;
  margin-left: 10px;
  margin-bottom: 3px;
  margin-top: 8px;
}

.exp-info .intern-id-input{
  height: 20px;
  width: ~'calc(100% - 353px)';
  margin-left: 2px;
  margin-bottom: 3px;
  margin-top: 8px;
}

.exp-info .extern-id-input{
  height: 20px;
  width: 185px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.exp-info input:-ms-input-placeholder {
   color:#889399;
}

.exp-info input::-webkit-input-placeholder {
   color:#889399;
}

.exp-info input:-moz-placeholder {
   color:#889399;
}

.exp-info input::-moz-placeholder {
   color:#889399;
}

.edit-exp-button.ui-btn {
  float: right;
  right: 7px;
  margin-top: -7px;
  margin-right: 7px;
  width: 140px;
  height: 32px;
}

.edit-exp-button.ui-btn i{
  background: url("@static/edit.png") ;
  background-size: cover;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.edit-exp-button.ui-btn span{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  margin-left: 7px;
  color: #545f65;
  max-width: 105px;
}

.edit-mode-popup{
  display: none;
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  -webkit-border-radius: 0 0 6px;
  -moz-border-radius: 0 0 6px;
  border-radius: 0 0 6px;
  background-color: #f7f8fa;
  -webkit-box-shadow: 0 -1px #ccd3d5;
  -moz-box-shadow: 0 -1px #ccd3d5;
  box-shadow: 0 -1px #ccd3d5;
  animation: edit-popup-out 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  z-index: 2;
}

.edit-mode-popup.active {
    animation: edit-popup-in 0.2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}


.dark .edit-mode-popup{
  background-color: #363d46;
  border-color: #2c3238;
  box-shadow: none;
}

@keyframes edit-popup-in{
    0%{  height: 0;}
    100%{ height: 48; }
}

@keyframes edit-popup-out{
    0%{  height: 48;}
    100%{ height: 0;}
}

.edit-mode.delete-contact-button.ui-btn.cancel {
    margin-top: 7px;
    margin-left: 7px;
}

.right.edit-mode.save-contact-button.ui-btn.accept {
    margin-right: 7px;
    margin-top: 7px;
}

.right.edit-mode.cancel-contact-button.ui-btn.gray {
    margin-top: 7px;
    margin-right: 5px;
}

.legal .ui-tab.close{
  float: left;
  background-color: #f7f8fa;
  width: 100%;
}

.legal .ui-tab .ui-tab-element.active{
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #fff;
}

.info-tab-section{
  width: 100%;
  height: ~'calc(100% - 97px)';
  float: left;
}

.exp-status, .exp-desc, .exp-client, .exp-asigns, .exp-people{
  float: left;
  width: ~'calc(100% - 40px)';
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid  #e5e9ea;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.exp-status{
  height: 49px;
}

.info-tab-section .title{
  font-size: 13px;
  color: #889399;
}
